@model IEnumerable<POS.Models.CartItemViewModel>

<h2>Cart</h2>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
                <td>@item.Total</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Grand Total:</td>
            <td>
                @Model.Sum(item => item.Total)
            </td>
        </tr>
    </tfoot>
</table>
